PORT=8000
MONGO_SRV='mongodb+srv://<username>:<password>@<database>'
MAX_FAILED_LOGIN_ATTEMPTS=3
JWT_SECRET='jwt_secret'

#AWS
AWS_ACCESS_KEY='AWS_ACCESS_KEY'
AWS_SECRET='AWS_SECRET'
AWS_REGION='AWS_REGION'

#SMTP
FROM_EMAIL='FROM_EMAIL@gmail.com'
EMAIL_PASSWORD='EMAIL_PASSWORD'

#Vonage
VONAGE_API_KEY='VONAGE_API_KEY'
VONAGE_API_SECRET='VONAGE_API_SECRET'
FROM_NUMBER='FROM_NUMBER'
TO_NUMBER='TO_NUMBER'